*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

html,body{
	height:100%;
}



/* Classes Auxiliares */

.clear{
	clear: both;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2%;
}

.w50{
	float: left;
	width: 50%;
	padding: 8px 8px;
}

.w100{
	float: left;
	width: 100%;
	padding: 8px 8px;
}


/* Estilo de Form */

body{
	background: rgb(225, 225,225);
}

.form-group{
	display: block;
}

h2{
	text-align: center;
	color: violet;
	font-size: 25px;
	text-transform: uppercase;
	border-bottom: 2px solid violet;
}

.form-group input[type="text"]{
	width: 100%;
	padding-left: 8px;
	height: 40px;
	border: 1px solid #ccc;
	margin-top: 6px;
}

.form-group input[type="submit"]{
	width: 140px;
	height: 40px;
	background-color: violet;
	color: white;
	border: 0;
	cursor: pointer;
	transition: 0.3s;
}

.form-group input[type="submit"]:hover{

	background-color: rgb(48, 221, 233);

}
.form-group label{
	display: block;
	margin-bottom: 8px;
	color: rgb(0, 0, 0);
}

.form-group textarea{
	width: 100%;	
	height: 120px;
	border: 1px solid #ccc;
	padding: 10px;
}

/* Media Query */

@media screen and (max-width: 500px) {
	.w50{
		width:100%;
	}
}